.Navbar {
  color: var(--Color-brand--light);
  background: var(--Color-brand);
}

.Navbar-icon {
  height: 28px;
  padding: 12px;
}

.Navbar-icon:hover {
  animation: icon-spin infinite 10s linear;
}

.Navbar-items {
  margin: 0;
  padding: 0 5px;

  list-style: none;
}

.Navbar-item {
  padding-right:10px;
}

.Navbar-item + .Navbar-item::before {
  content: '>';
  display: inline-block;

  padding-right: 10px;
}

.Navbar-item a {
  color: var(--Color-brand--light);
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;

  transition: color 0.15s ease-in-out;
}

.Navbar-item a:hover {
  color: var(--Color-brand--lightest);
}

@keyframes icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}