:root {
  /** Brand */
  --Color-brand: #0d9b80;
  --Color-brand--light: #bee5e1;
  --Color-brand--lightest: #f7fefb;
  --Color-brand--dark: #001916;

  /** Colors */
  --Color-white: #fff;

  --Color-grey--light: #eee;
}